.thousands {
	font-size: 12px;
	width:400px;
}

.donate-difference {
	font-size: 36px;
	width:400px;
	margin-top:50px;
}


.donate-contribution {
	margin:20px;
	font-size: 24px;
}

.donation-star-img-1 {
	background-image: url("../images/HTD_Stars-1.png");
	background-position: top right;
	background-repeat: no-repeat;
}

.dollar-box {
 	padding:5px;
}
