.thousands {
	font-family: nimbus-sans, sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 12px;
/*	width:400px;*/
}

.donate-difference {
	font-family: nimbus-sans, sans-serif;
	font-weight: 800;
	font-style: normal;
	font-size: 36px;
	width:400px;
	margin-top:50px;
}


.donate-contribution {
	font-family: nimbus-sans, sans-serif;
	font-weight: 800;
	font-style: normal;
	margin-top:20px;
	margin-bottom:20px;
	font-size: 24px;
	text-align: center;
}

.donation-star-img-1 {
	background-image: url("../images/HTD_Stars-1.png");
	background-position: top right;
	background-repeat: no-repeat;
	width: 40px;
}

.donation-star-img-2 {
	background-image: url("../images/HTD_Stars-1.png");
	background-position: top right;
	background-repeat: no-repeat;
}

.dollar-box {
	text-align: center;
	width:110px;
	background-color:#F1F1F1;
}

.donate-buttons-row {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.difference-row {
	display: flex;
	flex-direction: row;
	flex-wrap:wrap;
	justify-content: center;
}


.difference-column {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
}

