:root {
	--siteBlue: rgb(33, 67, 104);
}


.AHTDblueBackground{
	background-color: var(--siteBlue);
	padding:0px;
}

.showborder {	border-style: dashed;border-width: .5px; }


.nav-menu-extend{
	color:white;
	padding-top:10px;
	padding-left:20px;
}

.form-field-extend {
	/*padding-right:5px;*/
	font-size: .1rem;
	padding-top: .5rem;
}

/* Container holding the image and the text */
.container {
	position: relative;
	text-align: left;
	color: black;
}



.nav-link {
	background-color: var(--siteBlue)
}



.foundedImage{
/*	just here for displaying or hiding*/

}


.difference {
	font-family: Superscratchy;
	color: var(--siteBlue);
	font-size: 50px;
}

.banner {
	
}

.banner-container-who {
	background-image: url("../images/HTD__WhoWeAre_header.jpg");
/*		height: 200px;*/
		font-family: Superscratchy;
		font-size: 50px;
		color:white;
	  	padding: 20px 0;
  		bottom: ;order: 3px solid green;
  		text-align: center;
	
	}





.footer-header{
	font-size: .9em;
}

.footer-subhead {
	color:white;
	font-size: .7em;
	line-height: .9em;
}

.container-footer {
	background-color: var(--siteBlue);
	padding-top: 50px;
	padding-bottom: 50px;
	padding-left: 50px;
	padding-right: 50px;

}



.footer-header-small {
		color:white;
	font-size: 12px;
}

.dollar-text {
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	font-size: 2em;
}

.footer-padding {
	margin-left:20px;
	margin-right:20px;
}

.bottom-nav-link-color {
	color:white;
}


.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button2 {background-color: #008CBA;} /* Blue */
.button3 {background-color: #f44336;} /* Red */ 
.button4 {background-color: #e7e7e7; color: black;} /* Gray */ 
.button5 {background-color: #555555;} /* Black */
