:root {
	--siteBlue: rgb(33, 67, 104);
	--borderstyle: groove;
}


.AHTDblueBackground{
	background-color: var(--siteBlue);
	padding:0px;
}

.showborder {
/*	border-style: var(--borderstyle); */
}


.nav-menu-extend{
	color:white;
	padding-top:10px;
	padding-left:20px;
}

.form-field-extend {
	/*padding-right:5px;*/
	font-size: .1rem;
	padding-top: .5rem;
}

/* Container holding the image and the text */
.container {
	position: relative;
	text-align: left;
	color: black;
}



.nav-link {
	background-color: var(--siteBlue)
}



.foundedImage{
/*	just here for displaying or hiding*/

}


.difference {
	font-family: Superscratchy;
	color: var(--siteBlue);
	font-size: 50px;
}

.banner {
	
}

.banner-container-who {
	background-image: url("../images/HTD__WhoWeAre_header.jpg");
/*		height: 200px;*/
		font-family: Superscratchy;
		font-size: 50px;
		color:white;
	  	padding: 20px 0;
  		bottom: ;order: 3px solid green;
  		text-align: center;
	
	}




