
.nominate-row {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.nominate-col {
	display:flex;
	flex-direction: column;
	margin: 5px;
	font-size: 2em;
}

.nominate-text {
	font-size: .4em;
}
