/* CSS Document */

.nav-bottom-row {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.nav-bottom-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	color: White;
	background-color: var(--siteBlue);
	font-size: .8em;
	line-height: .5em;
	padding-top: 25px;
	padding-bottom: 25px;
}

.nav-bottom-panel {
	display: flex;
	flex-direction: column;
	margin: 10px;
}

.nav-break-col-1 {
/*	will set this width to 100% when we want to break*/
}

.nav-break-col-2 {
/*	will set this width to 100% when we want to break*/
}

.nav-break-col-3 {
/*	will set this width to 100% when we want to break*/
}

.nav-break-col-4 {
/*	will set this width to 100% when we want to break*/
}

.nav-break-col-5 {
/*	will set this width to 100% when we want to break*/
}

.nav-break-col-6 {
/*	will set this width to 100% when we want to break*/
}

.nav-break-col-7 {
/*	will set this width to 100% when we want to break*/
}
